mlvenv/
mlvenv/**
# Ignore large downloaded files and model artifacts
data/
data/**
results/
results/**
results*/
results*/**
logs/
logs/**
logs*/
logs*/**
*.csv
*.safetensors
*.pt
*.pth
*.gz
*.pkl


traditional_finetuned_model/vocab.txt
